html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0px;
  font-weight: normal;
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #212328;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: button;
}

.btn {
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: 0;
    border: none;
    vertical-align: baseline;
    background: #e0e1e2 none;
    color: rgba(0,0,0,.6);
    margin: 0 .25em 0 0;
    padding: .8em 1.5em .8em;
    text-shadow: none;
    font-weight: 700;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease;
    transition: opacity .1s ease,background-color .1s ease,color .1s ease,box-shadow .1s ease,background .1s ease,-webkit-box-shadow .1s ease;
    will-change: '';
    -webkit-tap-highlight-color: transparent;
}

.btn:hover {
    background-color: #cacbcd;
    background-image: none;
    -webkit-box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34,36,38,.15) inset;
    color: rgba(0,0,0,.8);
}

.btn.primary {
    background-color: #2185d0;
    color: #fff;
    text-shadow: none;
    background-image: none;
}

.btn.primary:hover {
    background-color: #1678c2;
    color: #fff;
    text-shadow: none;
}


/* main css */

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 1rem;    
}

.heading {
    padding: 50px 0px;
    color: #2185d0;
    font-weight: 700;
}

.center {
    text-align: center;
}

.block {
    background-color: #FFFFFF;
    box-shadow: 0 0 5px #777777;
}

.block-title {
    background-color: #F3F3F3;
    border-bottom: 1px solid #E7E7E7;
}

.message {
    text-align: center;
    padding: .75rem 1.25rem;
    font-weight: bold;
}

.message.error {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.message.success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* .message.loading {
    background: #ccc;
} */

.block-buttons {
    padding:  15px 0;
    background-color: #F3F3F3;
    border-top: 1px solid #E7E7E7;
}

.block-code {
    min-height: 360px;
}

.block-code .CodeMirror {
    height: 360px;
    font-size: 12px;
}

.loading {
    position: relative;
}

.ball-pulse-sync>div, .ball-pulse>div, .ball-scale-random>div, .ball-scale>div {
    background-color: #1abc9c;
    border-radius: 100%;
    margin: 2px;
    display: inline-block;
}

.ball-pulse>div {
    width: 15px;
    height: 15px;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.ball-pulse>div:nth-child(1) {
    -webkit-animation: scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s -.24s infinite cubic-bezier(.2,.68,.18,1.08);
}

.ball-pulse>div:nth-child(2) {
    -webkit-animation: scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s -.12s infinite cubic-bezier(.2,.68,.18,1.08);
}

.ball-pulse>div:nth-child(3) {
    -webkit-animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
    animation: scale .75s 0s infinite cubic-bezier(.2,.68,.18,1.08);
}

@keyframes scale {
    30% {
        -webkit-transform: scale(.3);
        transform: scale(.3);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* background-image: linear-gradient(60deg, #abecd6 0%, #fbed96 100%); */
